.continent-name {
  font-weight: 300;
  margin-top: 35px;
  margin-bottom: 24px;
}

.continent-country {
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.continent-footer {
  margin-bottom: 90px;
}
